$primaryColor: #894ec5;
$primaryColorDark: darken( $primaryColor, 10% );
$primaryColorDarker: darken( $primaryColor, 20% );
$textColorDefault: #a8a8a8;
$backgroundColorDark: #2c2c2c;
$bootstrapBodyColor: white;

:export {
    primaryColor: $primaryColor;
    primaryColorDark: $primaryColorDark;
    primaryColorDarker: $primaryColorDarker;
    backgroundColorDark: $backgroundColorDark;
    textColorDefault: $textColorDefault;
    bootstrapBodyColor: $bootstrapBodyColor;
}