sudo: required
dist: bionic
language: node_js
node_js:
    - '10'

cache:
    yarn: true
    directories:
        - packages/utils-general/build
        - packages/utils-general/dist
        - packages/user-registry/schemas
        - packages/user-registry/build
        - packages/user-registry/dist
        - packages/utils-testbackend/dist
        - packages/asset-registry/schemas
        - packages/asset-registry/build
        - packages/asset-registry/dist
        - packages/origin/build
        - packages/origin/dist
        - packages/market/schemas
        - packages/market/build
        - packages/market/dist

before_install:
    - sh scripts/restore-original-timestamps.sh

install:
    - yarn

script: yarn build && yarn lint && yarn test