sudo: required
dist: bionic
language: node_js
node_js:
    - '10'

cache:
    yarn: true
    directories:
        - packages/utils-general/build
        - packages/utils-general/dist
        - packages/user-registry/schemas
        - packages/user-registry/build
        - packages/user-registry/dist
        - packages/utils-testbackend/dist
        - packages/asset-registry/schemas
        - packages/asset-registry/build
        - packages/asset-registry/dist
        - packages/origin/build
        - packages/origin/dist
        - packages/market/schemas
        - packages/market/build
        - packages/market/dist
        - packages/market-matcher/schemas
        - packages/market-matcher/dist

before_install:
    - sh scripts/restore-original-timestamps.sh

before_deploy:
  - git config --global user.email ${GITHUB_EMAIL}
  - git config --global user.name ${GITHUB_USER}
  - git remote set-url origin "https://${GITHUB_TOKEN}@github.com/energywebfoundation/origin.git" > /dev/null 2>&1
  - git checkout master
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null

jobs:
  include:
    - stage: "Install dependencies"
      script: yarn
    - stage: "Build"
      script: yarn build
    - stage: "Tests"	
      name: "User & Asset Registry & Origin Tests & Utils General"	
      script: yarn test:user-registry && yarn test:asset-registry	&& yarn test:origin && yarn test:event-listener && yarn test:utils-general
    - stage: "Tests"
      name: "Linting + Market & UI & Matcher & Event Listener Tests & Deploy Demo"    	
      script: yarn lint && yarn test:market && yarn test:ui && yarn test:matcher && yarn test:demo
    - stage: "Deploy canary"
      script: skip
      deploy:
        provider: script
        script: "yarn publish:canary"
        skip_cleanup: true
        on:
          node: "10"
          branch: master

    

