sudo: required
dist: trusty
language: node_js
node_js:
    - '10.0.0'

cache:
    yarn: true
    directories:
        - node_modules

before_install:
    - npm install -g yarn

install:
    - yarn
    - yarn build
