version: '3'
services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    tty: true
    ports:
      - "8081:80"
    volumes:
      - ./packages/origin-ui/dist:/var/www/html
      - ./packages/origin-ui/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
