.MarketNavigation {
    > li {
        width: 140px;
        position: relative;
        margin-bottom: 15px;

        &:not(:first-child) {
            margin-left: 16px;
        }

        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.6px;

            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -3px;
                transition: all 0.5s;
            }

            &.active:after,
            &:hover:after {
                width: 100%;
            }
        }
    }
}
    