@import '@energyweb/origin-ui-core/dist/src/styles/variables.scss';

.OrderModal {
    .EnergySection {
        background-color: lighten($backgroundColorDark, 2%);
    }
    .DeviceSection {
        background-color: darken($backgroundColorDark, 1%);
    }
    .FilledSection {
        background-color: lighten($backgroundColorDark, 3%);
    }
    .Action {
        background-color: lighten($backgroundColorDark, 3%);
    }
    
}