body {
    background: #333333;
    color: white;
}

body * {
    font-family: Rubik;
}

.AppWrapper {
    transition: transform 0.5s;

    &.Profile--open {
        transform: translateX(-292px);
    }
}

#popover-trigger-focus {
    &.popover {
        opacity: 1;
        transform: translate(calc(-50% + 16px), 20px);
        background: #252525;
        line-height: 30px;
        font-size: 11px;
        color: #ffffff;
        border-radius: 2px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

        &:before {
            content: '';
            background-image: url('../../assets/triangle.svg');
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;
            top: -12px;
            z-index: -1;
        }

        .popover-item {
            padding: 0 12px;
            line-height: 30px;
            font-size: 11px;
            color: #ffffff;
            cursor: pointer;

            &:hover {
                background-color: #453754;
            }
        }
    }
}

*::-webkit-scrollbar {
    width: 2px;

    &-track {
        background: transparent;
    }

    &-thumb {
        background: #888;

        &:hover {
            background: #555;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}