@import "./styles/toastr.scss";

.vertical-align {
    display: flex;
    align-items: center;
}

.PageWrapper {
    .PageFooter,
    .PageNav {
        padding: 0 95px;
        height: 94px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #3c3c3c;
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.179659);

        .NavMenu {
            > li {
                margin-bottom: 0;
            }
        }
    }

    .PageContentWrapper {
        padding: 63px 95px;

        .PageHeader {
            height: 52.5px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(151, 151, 151, 0.14);

            .PageTitle {
                padding-top: 10px;
                font-weight: 300;
                font-size: 28px;
                letter-spacing: 0.6px;
                line-height: 34px;
                color: #ffffff;
                mix-blend-mode: normal;
                opacity: 0.26;
            }

            .PageButtons {
                display: flex;

                .ButtonWrapper {
                    margin-left: 14px;
                }
            }
        }

        .PageBody {
            margin-top: 29px;
        }
    }
}
