@import "./styles/variables.scss";
@import "./styles/toastr.scss";

$body-bg: none;
$body-color: $bootstrapBodyColor;
@import "./styles/bootstrap.scss";

.vertical-align {
    display: flex;
    align-items: center;
}

.PageWrapper {
  .PageFooter,
  .PageNav {
    padding: 0 95px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $backgroundColorDark;

    .NavMenu {
        > li {
            margin-bottom: 0;
        }
    }
  }

  .PageContentWrapper {
    padding: 63px 95px;

    .PageBody {
      .PageBodyTitle {
        text-align: center;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: .6px;
        line-height: 34px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: .5;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(151, 151, 151, .14);
        padding-bottom: 10px;
      }
    }
  }
}
