@import '../../styles/variables.scss';

.ColumnBatchActions {
    display: flex;
    justify-content: space-between;
    height: 36px;

    &_counter {
        color: $primaryColor;
    }

    &_list {
        list-style: none;
        display: inline-flex;

        &_item {
            color: $primaryColor;
            text-transform: uppercase;
            padding: 0 10px;
            cursor: pointer;
        }
    }
}
