@import "../../styles/variables.scss";

.TableWrapper {
    table {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        table-layout: fixed;
        width: 100%;
        border-bottom: 3px solid $primaryColor;

        & td {
            word-wrap: break-word;
        }

        tr td,
        tr th {
            padding: 0 16px;

            &:not(.Actions) {
                border-right: 1px solid #5d5d5d;
            }
        }

        tr td {
            padding-top: 14px;
            padding-bottom: 14px;

            &.Actions {
                vertical-align: middle;

                > div {
                    position: relative;
                }

                button.btn:not(.dropdown-toggle) {
                    background: transparent;
                    padding: 0;
                    outline: none;

                    &:focus {
                        box-shadow: none;
                    }
                }

                &.Toggle > div {
                    display: flex;
                    align-items: center;
                }

                &.Disabled {
                    color: #646363;
                }

                &.Active {
                    color: white;
                }
            }

            &.Active {
                > div {
                    opacity: 1;
                }
            }
        }

        thead {
            tr {
                vertical-align: top;
                height: 57px;
                background-color: $backgroundColorDark;

                th {
                    padding-top: 14px;
                    font-weight: 900;
                    line-height: 15px;
                    font-size: 11px;
                    color: #ffffff;
                    mix-blend-mode: normal;

                    > div {
                        opacity: 0.7;
                    }
                }
            }
        }

        tbody {
            tr {
                vertical-align: top;
                height: 40px;
                background-color: #474747;

                &:nth-child(even) {
                    background-color: #373737;
                }

                td {
                    font-weight: 500;
                    font-size: 12px;
                    color: #ffffff;

                    > div {
                        opacity: 0.7;
                    }
                }
            }
        }

        tfoot {
            tr {
                height: 77px;
                background-color: #292929;

                td {
                    font-weight: 900;
                    font-size: 16px;
                    letter-spacing: 0.0888889px;
                    color: #979797;
                }
            }
        }

        .Actions {
            text-align: center;
        }

        .Total:not(:first-child) {
            text-align: right;

            &.Hide {
                > div {
                    display: none;
                }
            }
        }
    }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primaryColor;
}

.custom-checkbox .custom-control-label::before {
    background-color: #5d5d5d;
}

.Table {
    &_head_columnHeader {
        &-clickable {
            cursor: pointer;
            user-select: none;
        }

        &_sortIcon {
            margin-top: -6px;
            vertical-align: text-top;
        }
    }
}