.modal {
    &-backdrop {
        background-color: black;
        opacity: 0.4;
    }
    
    &-content, &-dialog, &-header, &-body, &-footer {
        background-color: #333333;
        border: 0px;
    }

    &-body {
        font-weight: 500;
        font-family: Rubik;
        font-size: 12px;
    }

    &-dialog {
        background-color: #333333;
        border-radius: 50px;
        border: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &-title {
        font-weight: 300;
        font-size: 28px;
        color: #979797
    }
}


.close {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.modal-button {
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0454031);
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #ffffff;
    border: none;
    outline: none;

    &:disabled {
        background: grey;
    }

    &-publish {
        background: #654784;
    }

    &-cancel {
        background: #3c3c3c;
    }
}

.modal-input {
    background: #393939;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.108667);
    border-radius: 2px;
    border: none;
    color: white;
    width: 100%;
    outline: none;
    line-height: 40px;
    padding: 0 14px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
  