.HeaderWrapper {
    height: 203px;
    padding: 86px 94px 42px 100px;

    .Header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .ViewProfile {
            display: flex;
            justify-content: space-between;
            width: 197px;
            height: 40px;
            align-items: center;
            background: #3c3c3c;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            padding: 12px 10px 11px 14px;
            font-weight: 500;
            font-size: 12px;
            color: #d2d2d2;
            margin-bottom: 10px;

            * {
                cursor: pointer;
            }

            img:first-child {
                margin-right: 16px;
            }
        }
    }
}

.NavMenu {
    > li {
        width: 130px;
        position: relative;
        margin-bottom: 15px;

        &:not(:first-child) {
            margin-left: 16px;
        }

        a {
            color: #a8a8a8;
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.6px;

            &.active {
                color: white;
            }

            &:after {
                content: '';
                position: absolute;
                background: #894ec5;
                height: 2px;
                width: 0;
                left: 0;
                bottom: -3px;
                transition: all 0.5s;
            }

            &.active:after,
            &:hover:after {
                width: 100%;
            }
        }
    }
}
