@import "../styles/variables.scss";

.PageWrapper {
    .PageBody {
        margin-top: 32.5px;

        .Line {
            line-height: 24px;
            font-size: 12px;
            color: #b7b7b7;

            a {
                color: $primaryColor;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
