@import '@energyweb/origin-ui-core/dist/styles/app.scss';
@import '@energyweb/exchange-ui-core/dist/styles/app.scss';
@import './variables.scss';
@import './bootstrap.scss';
@import './toastr.scss';

.vertical-align {
    display: flex;
    align-items: center;
}

.PageWrapper {
    margin-left: 300px;
    z-index: 1;
    .PageFooter,
    .PageNav {
        padding: 0 95px;
        height: 94px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $mainBackgroundColor;
    }

    .PageContentWrapper {
        padding: 50px;
        .PageBody {
            .PageBodyTitle {
                text-align: center;
                font-weight: 300;
                font-size: 20px;
                letter-spacing: 0.6px;
                line-height: 34px;
                color: #ffffff;
                mix-blend-mode: normal;
                opacity: 0.5;
                margin-bottom: 30px;
                border-bottom: 1px solid rgba(151, 151, 151, 0.14);
                padding-bottom: 10px;
            }
        }
    }
}

.LoginPageBackground {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    padding: 0;
}

@import './AppContainer.scss';
@import './Header.scss';
@import './SidebarMenu.scss';
