body {
    background: #333333;
    color: white;
}

body * {
    font-family: Rubik;
}

.AppWrapper {
    transition: transform 0.5s;

    &.Profile--open {
        transform: translateX(-292px);
    }
}

*::-webkit-scrollbar {
    width: 2px;

    &-track {
        background: transparent;
    }

    &-thumb {
        background: #888;

        &:hover {
            background: #555;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}
