@import './variables.scss';

.CardHeader {
    background-color: $bundleContentCardHeaderBg;
}

.CardContent {
    background-color: $bundleContentCardHeaderBg;
}

.SelectedCardHeader {
    background-color: $bundleContentSelectedCardHeaderBg;
}

.SelectedCardContent {
    background-color: $bundleSelectedCardContentBg;
}

.ScrollButton {
    background-color: $scrollButtonBg;
}

.BundleCardBorder {
    background-color: $bundleCardBorderBg;
}
