.CardHeader {
    background-color: #3b3b3b;
}

.CardContent {
    background-color: #3e3e3e;
}

.SelectedCardHeader {
    background-color: #9b00c8;
}

.SelectedCardContent {
    background-color: #3a1c47;
}
