.ColumnBatchActions {
    display: flex;
    justify-content: space-between;
    height: 46px;
    line-height: 46px;
    padding-bottom: 10px;

    &_counter {
        color: $primaryColor;
    }

    &_list {
        list-style: none;
        display: inline-flex;
        text-transform: uppercase;
    }
}
