.CreateBundleForm {
    background-color: #333333;
    .Certificates {
        background-color: #2d2d2d;
    }
    
    .CertificateGroup {
        background-color: #3b3b3b;
        .Header {
            background-color: #373737;
        }
    }
    
    .SelectedForSaleListItem {
        background-color: #303030;
    }
}



