@import './variables.scss';

.CreateBundleForm {
    // background-color: #333333;
    background-color: $createBundleBg;
    .Certificates {
        background-color: $createBundleCertificatesBg;
    }
    
    .CertificateGroup {
        background-color: $createBundleCertificatesGroupBg;
        .Header {
            background-color: $createBundleCertificatesGroupHeaderBg;
        }
    }
    
    .SelectedForSaleListItem {
        background-color: $createBundleSelectedItem;
    }
}



