.Filter {
    cursor: pointer;
    padding: 14px;
    user-select: none;
    width: max-content;

    &_icon {
        display: inline-block;
        margin-right: 10px;
    }

    &_menu {
        user-select: none;

        &_item {
            padding: 10px;
            align-items: center;
            display: inline-flex;
            width: 50%;
            position: relative;
            vertical-align: top;

            &-fullWidth {
                display: block;
                width: 100%;
            }

            &_sliderWrapper {
                width: calc(100% - 28px);
                display: inline-flex;
                flex-direction: column;

                .MuiSlider-root {
                    margin-top: 15px;
                    margin-left: 13px;
                }
            }
        }
    }
}
