@import './variables.scss';

$filterBg: lighten($backgroundColorDark, 5%);

.Filter {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    padding: 14px;
    user-select: none;
    width: max-content;

    &-opened {
        display: block;
        background-color: $filterBg;
        width: 100%;
    }

    &_icon {
        display: inline-block;
        margin-right: 10px;
    }

    &_menu {
        user-select: none;
        background-color: $filterBg;

        &_item {
            padding: 10px;
            align-items: center;
            display: inline-flex;
            width: 50%;
            position: relative;
            vertical-align: top;
            .MuiFilledInput-root {
                background-color: $backgroundColorDark;
            }

            &-fullWidth {
                display: block;
                width: 100%;
            }

            &_sliderWrapper {
                width: calc(100% - 28px);
                display: inline-flex;
                flex-direction: column;

                .MuiSlider-root {
                    margin-top: 15px;
                    margin-left: 13px;
                }
            }
        }
    }
}
