.smartMeterReadingsChart {
    & .btn-switcher {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.267125);

        .btn-switcher-btn {
            font-size: 14px;
            text-transform: none;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    & .graph {
        height: 400px;
    }

    & .arrow-button {
        cursor: pointer;
    }
}
