$primaryColor: #894ec5 !default;
$primaryColorDark: darken($primaryColor, 10%) !default;
$primaryColorDarker: darken($primaryColor, 20%) !default;
$textColorDefault: #a8a8a8 !default;
$backgroundColorDark: #2c2c2c !default;
$bootstrapBodyColor: white !default;
$fieldIconColor: darken(white, 30%) !default;
$bundleContentCardHeaderBg: #3b3b3b;
$bundleContentSelectedCardHeaderBg: #9b00c8;
$bundleCardContentBg: #3e3e3e;
$bundleSelectedCardContentBg: #3a1c47;
$scrollButtonBg: #5a5a5a;
$bundleCardBorderBg: #434343;

:export {
    primaryColor: $primaryColor;
    primaryColorDark: $primaryColorDark;
    primaryColorDarker: $primaryColorDarker;
    backgroundColorDark: $backgroundColorDark;
    textColorDefault: $textColorDefault;
    bootstrapBodyColor: $bootstrapBodyColor;
    fieldIconColor: $fieldIconColor;
    bundleContentCardHeaderBg: $bundleContentCardHeaderBg;
    bundleContentSelectedCardHeaderBg: $bundleContentSelectedCardHeaderBg;
    bundleCardContentBg: $bundleCardContentBg;
    bundleSelectedCardContentBg: $bundleSelectedCardContentBg;
    scrollButtonBg: $scrollButtonBg;
    bundleCardBorderBg: $bundleCardBorderBg;
}
