$primaryColor: #894ec5 !default;
$primaryColorDark: darken($primaryColor, 10%) !default;
$primaryColorDarker: darken($primaryColor, 20%) !default;
$textColorDefault: #a8a8a8 !default;
$backgroundColorDark: #2c2c2c !default;
$bootstrapBodyColor: white !default;
$fieldIconColor: darken(white, 30%) !default;
$bundleContentCardHeaderBg: #3b3b3b;
$bundleContentSelectedCardHeaderBg: #9b00c8;
$bundleCardContentBg: #3e3e3e;
$bundleSelectedCardContentBg: #3a1c47;
$scrollButtonBg: #575757;
$bundleDetailsBg: #434343;
$bundleCardBorderBg: #434343;
$bundleDetailsCloseBtnBg: #ffffff;
$bundlePriceRangeLblBg: #a400d9;
$bundleOfferBg: #4c4c4c;
$createBundleBg:  #333333;
$createBundleCertificatesBg: #2d2d2d;
$createBundleCertificatesGroupBg: #3b3b3b;
$createBundleCertificatesGroupHeaderBg: #373737;
$createBundleCertificateForSale: #303030;
$createBundleSelectedCertificate: #3a2146;
$filterBg: #3a3a3a;
$filterItemBg: #2d2d2d;

:export {
    primaryColor: $primaryColor;
    primaryColorDark: $primaryColorDark;
    primaryColorDarker: $primaryColorDarker;
    backgroundColorDark: $backgroundColorDark;
    textColorDefault: $textColorDefault;
    bootstrapBodyColor: $bootstrapBodyColor;
    fieldIconColor: $fieldIconColor;
    bundleContentCardHeaderBg: $bundleContentCardHeaderBg;
    bundleContentSelectedCardHeaderBg: $bundleContentSelectedCardHeaderBg;
    bundleCardContentBg: $bundleCardContentBg;
    bundleSelectedCardContentBg: $bundleSelectedCardContentBg;
    scrollButtonBg: $scrollButtonBg;
    bundleCardBorderBg: $bundleCardBorderBg;
    bundleDetailsBg: $bundleDetailsBg;
    bundleDetailsCloseBtnBg: $bundleDetailsCloseBtnBg;
    bundlePriceRangeLblBg: $bundlePriceRangeLblBg; 
    bundleOfferBg: $bundleOfferBg;
    createBundleBg: $createBundleBg;
    createBundleCertificatesBg: $createBundleCertificatesBg;
    createBundleCertificatesGroupBg: $createBundleCertificatesGroupBg;
    createBundleCertificatesGroupHeaderBg: $createBundleCertificatesGroupHeaderBg;
    createBundleSelectedItem: $createBundleCertificateForSale;
    createBundleSelectedCertificate: $createBundleSelectedCertificate;
    filterBg: $filterBg;
    filterItemBg: $filterItemBg;
}
