.Error {
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;

    & > &_icon {
        font-size: 64px;
    }

    &_message {
        font-size: 18px;
        padding-top: 40px;
    }
}
