.react-date-picker {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;

  .react-date-picker__button {
    border: none;

    .react-date-picker__calendar-button {
      outline: none;

      > svg {
        opacity: 0;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/datepick.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    > *:not(.react-date-picker__calendar-button) {
      display: none;
    }
  }

  .react-date-picker__calendar {
    z-index: 1;
    right: -10px;
    left: auto;
    bottom: -4px;
    width: 195px;

    .react-calendar {
      background: #464646;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.381029);
      border-radius: 2px;
      color: white;
      border: none;

      .react-calendar__navigation {
        height: auto;
        margin-bottom: 0;
        padding-top: 20px;

        button:enabled:focus,
        button:enabled:hover,
        button[disabled] {
          background: transparent;
        }

        .react-calendar__navigation__label {
          font-weight: 500;
          font-size: 11px;
          text-align: center;
          letter-spacing: .55px;
          color: #FFFFFF;
        }

        .react-calendar__navigation__arrow {
          color: #BA77FF;
        }

        .react-calendar__navigation__next2-button,
        .react-calendar__navigation__prev2-button {
          display: none;
        }
      }

      .react-calendar__month-view {
        .react-calendar__month-view__days {
          padding: 0 15px 10px;

          button {
            color: white;
            max-width: 24px !important;
            text-align: right;
            padding: 0 5px;
            line-height: 25px;
            font-size: 11px;

            &.react-calendar__month-view__days__day--neighboringMonth {
              opacity: 0;
            }

            &.react-calendar__tile {
              &--active {
                background: rgba(186, 119, 255, 1);
              }

              &:enabled:focus,
              &:enabled:hover {
                background: rgba(186, 119, 255, .17);
                mix-blend-mode: normal;
              }
            }
          }
        }

        .react-calendar__month-view__weekdays {
          padding: 14px 15px 0;

          .react-calendar__month-view__weekdays__weekday {
            color: transparent;
            max-width: 24px !important;
            padding: 0 3px;
            position: relative;
            height: 25px;

            &:after {
              content: 'Mo';
              color: #787878;
              position: absolute;
              right: 0;
              top: 0;
              padding: 0 5px;
              line-height: 25px;
              font-size: 11px;
            }

            &:nth-child(2):after {
              content: 'Tu';
            }

            &:nth-child(3):after {
              content: 'We';
            }

            &:nth-child(4):after {
              content: 'Th';
            }

            &:nth-child(5):after {
              content: 'Fr';
            }

            &:nth-child(6):after {
              content: 'Sa';
            }

            &:nth-child(7):after {
              content: 'Su';
            }
          }
        }
      }

      .react-calendar__century-view,
      .react-calendar__decade-view,
      .react-calendar__year-view {
        .react-calendar__century-view__decades,
        .react-calendar__decade-view__years,
        .react-calendar__year-view__months {
          padding: 14px 15px 10px;

          button {
            padding: 10px;
            line-height: 25px;
            font-size: 11px;
            color: white;
            position: relative;

            &.react-calendar__tile {
              &:enabled:focus,
              &:enabled:hover {
                background: rgba(186, 119, 255, .17);
                mix-blend-mode: normal;
              }
            }
          }
        }

        .react-calendar__century-view__decades {
          button {
            max-width: 50% !important;
            flex-basis: 50% !important;
            padding: 5px;
          }
        }

        .react-calendar__decade-view__years {
          button {
            &:last-child {
              margin-left: 33.33333%;
            }
          }
        }

        .react-calendar__year-view__months {
          button {
            color: transparent;

            &:after {
              content: 'Jan';
              color: white;
              position: absolute;
              left: 0;
              top: 0;
              line-height: 45px;
              width: 100%;
            }

            &:nth-child(2):after {
              content: 'Feb';
            }

            &:nth-child(3):after {
              content: 'Mar';
            }

            &:nth-child(4):after {
              content: 'Apr';
            }

            &:nth-child(5):after {
              content: 'May';
            }

            &:nth-child(6):after {
              content: 'Jun';
            }

            &:nth-child(7):after {
              content: 'Jul';
            }

            &:nth-child(8):after {
              content: 'Aug';
            }

            &:nth-child(9):after {
              content: 'Sep';
            }

            &:nth-child(10):after {
              content: 'Oct';
            }

            &:nth-child(11):after {
              content: 'Nov';
            }

            &:nth-child(12):after {
              content: 'Dec';
            }
          }
        }
      }
    }
  }
}
