.TableWrapper {
    table {
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        table-layout: fixed;
        width: 100%;

        &:not(.admin) {
            border-bottom: 3px solid #ba77ff;
        }

        &.admin {
            table-layout: initial;

            thead tr {
                display: none;
            }

            tr {
                height: 60px;

                &.TableFooter,
                &.TableHeader {
                    background-color: #2c2c2c !important;
                }

                &.TableFooter {
                    height: 125px;
                    border-bottom: 3px solid #ba77ff !important;

                    th.Actions {
                        text-align: center;

                        button {
                            margin-top: 22px;
                            background: #654784;
                            border-radius: 3px;
                            font-weight: 500;
                            font-size: 14px;
                            text-align: center;
                            letter-spacing: 0.3px;
                            text-transform: uppercase;
                            line-height: 50px;
                            width: 195px;
                            color: #ffffff;
                            border: none;
                            padding: 0;
                            outline: none;
                        }
                    }
                }

                &:not(:first-child),
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(151, 151, 151, 0.14);
                }

                &:nth-child(even),
                &:nth-child(odd) {
                    background-color: #474747;
                }
            }

            tr td,
            tr th {
                text-align: left;
                vertical-align: middle;
                padding: 0 14px;

                input {
                    background: #393939;
                    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.108667);
                    border-radius: 2px;
                    border: none;
                    color: white;
                    width: 100%;
                    outline: none;
                    line-height: 40px;
                    padding: 0 14px;
                }

                > div {
                    opacity: 1;
                }

                .dropdown {
                    .dropdown-menu {
                        max-height: 260px;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 2px;

                            &-track {
                                background: transparent;
                            }

                            &-thumb {
                                background: #888;

                                &:hover {
                                    background: #555;
                                }
                            }
                        }
                    }
                }
            }

            tr {
                th {
                    font-size: 18px;
                    mix-blend-mode: normal;
                    font-weight: 100;
                    color: rgba(255, 255, 255, 0.7);
                }

                td {
                    font-weight: 500;
                    font-size: 14px;
                    mix-blend-mode: normal;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }

        tr td,
        tr th {
            padding: 0 16px;

            &:not(.Actions) {
                border-right: 1px solid #5d5d5d;
            }
        }

        tr td {
            padding-top: 14px;
            padding-bottom: 14px;

            &.Actions {
                vertical-align: middle;

                > div {
                    position: relative;
                }

                button.btn:not(.dropdown-toggle) {
                    background: transparent;
                    padding: 0;
                    outline: none;

                    &:focus {
                        box-shadow: none;
                    }
                }

                &.Toggle > div {
                    display: flex;
                    align-items: center;
                }

                &.Disabled {
                    color: #646363;
                }

                &.Active {
                    color: white;
                }

                &.Input {
                    .Date {
                        font-weight: 500;
                        font-size: 12px;
                        color: #ffffff;
                    }
                }
            }

            &.Active {
                > div {
                    opacity: 1;
                }
            }
        }

        &.bare {
            &-font {
                tr td,
                tr th {
                    padding-left: 12px;
                    padding-right: 12px;
                }

                thead {
                    tr {
                        th {
                            font-size: 10.5px;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            font-size: 11px;
                        }
                    }
                }
            }

            &-padding {
                tr td,
                tr th {
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                }
            }
        }

        thead {
            tr {
                vertical-align: top;
                height: 57px;
                background-color: #2c2c2c;

                th {
                    padding-top: 14px;
                    font-weight: 900;
                    line-height: 15px;
                    font-size: 11px;
                    color: #ffffff;
                    mix-blend-mode: normal;

                    > div {
                        opacity: 0.7;
                    }
                }
            }
        }

        tbody {
            tr {
                vertical-align: top;
                height: 40px;
                background-color: #474747;

                &:nth-child(even) {
                    background-color: #373737;
                }

                td {
                    font-weight: 500;
                    font-size: 12px;
                    color: #ffffff;

                    > div {
                        opacity: 0.7;
                    }
                }
            }
        }

        tfoot {
            tr {
                height: 77px;
                background-color: #292929;

                td {
                    font-weight: 900;
                    font-size: 16px;
                    letter-spacing: 0.0888889px;
                    color: #979797;
                }
            }
        }

        .Actions {
            text-align: center;
        }

        .Total:not(:first-child) {
            text-align: right;

            &.Hide {
                > div {
                    display: none;
                }
            }
        }
    }
}
