@import './variables.scss';

$linkHoverColor: lighten($mainBackgroundColor, 10%);
$headerBgColor: lighten($mainBackgroundColor, 5%);

    .Header {
        height: 120px;
        width: 100%;
        z-index: 2;
        background: $headerBgColor;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 35px;

        .ViewProfile {
            height: 40px;
            line-height: 40px;
            margin-bottom: 6px;

            .MuiSelect-select {
                padding: 6px 24px 7px 0;
            }

            &_icon {
                margin-right: 10px;
            }
        }
        .UserActionsLinks {
            a {
                text-decoration: none;
                color: $textColorDefault;
                padding: 10px 20px;
                border-radius: 5px;
                transition: all .2s ease;
            }
            a:hover {
                cursor: pointer;
                background-color: $linkHoverColor;
            }
        }
    }

