$primaryColor: #894ec5 !default;
$primaryColorDark: darken($primaryColor, 10%) !default;

$textColorDefault: #a8a8a8 !default;
$simpleTextColor: #ffffff;

$bodyBackgroundColor: #333333;
$mainBackgroundColor: #2c2c2c !default;
$fieldIconColor: darken(white, 30%) !default;


$fontFamilyPrimary: Rubik;
$fontFamilySecondary: Rubik;

:export {
    primaryColor: $primaryColor;
    primaryColorDark: $primaryColorDark;
    textColorDefault: $textColorDefault;
    simpleTextColor: $simpleTextColor;
    bodyBackgroundColor: $bodyBackgroundColor;
    mainBackgroundColor: $mainBackgroundColor;
    fieldIconColor: $fieldIconColor;
}
