.BlockWrapper {
  padding-top: 47px;

  .BlockHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(151, 151, 151, .14);

    div {
      font-weight: 300;
      font-size: 22px;
      letter-spacing: .471429px;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: .26;
    }
  }

  .BlockItems {
    min-height: 210px;
    margin-top: 5px;

    .BlockItem {
      padding-top: 15px;

      &.--label {
        .Label {
          font-weight: 500;
          line-height: 24px;
          color: #989898;
        }

        .Content {
          font-size: 16px;
          letter-spacing: .0888889px;
          color: #FFFFFF;
        }
      }

      .Label {
        font-weight: 500;
        line-height: 24px;
        font-size: 11px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: .7;
      }
    }
  }

  .BlockButton {
    width: 100%;
    line-height: 40px;
    text-transform: uppercase;
    background: #393939;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.498188);
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .257143px;
    cursor: pointer;
  }
}

/**
* Custom Dropdown
*/

.dropdown {
  width: 100%;

  .dropdown-toggle {
    font-weight: 500;
    font-size: 12px;
    color: #DDDDDD;
    background: #3C3C3C;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0454031);
    border-radius: 2px;
    outline: none;
    height: 40px;
    width: 100%;
    border: none;
    padding: 13px 14px 12px;
    text-align: left;

    &:after {
      position: absolute;
      right: 10px;
      background-image: url('../../../assets/caret.svg');
      width: 13px;
      height: 8px;
      border: none;
      top: 16px;
      transition: all .5s;
    }
  }

  &.open {
    .dropdown-toggle:after {
      transform: rotate(180deg);
    }
  }
}

.dropdown {
  &.open {
    .dropdown-menu {
      display: block;

      * {
        cursor: pointer;
      }
    }
  }

  ul.dropdown-menu {
    padding: 0;
    border: none;
    border-radius: 2px;
    width: 100%;
    background: #393939;

    li {
      padding: 0 14px;
      border-top: 1px solid rgba(152, 152, 152, .14);

      &:hover {
        background: #2F2F2F;

        a {
          opacity: 1;
        }
      }

      a {
        color: white;
        font-size: 12px;
        font-weight: 500;
        opacity: .4;
        text-decoration: none;
        line-height: 35px;
      }
    }
  }
}
